.center {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $bgc-blue-dark;;
    z-index: 4;
    position: relative;
}
.buble {
    z-index: -15;
    display: flex;
    justify-content: space-around;
    color: white;
    position: relative;
    text-align: right;
    
    padding: 1em;
    height: 330px;
    width: 100%;
    max-width: 58em;

    .vivi,
    .crea {
        overflow: hidden;
        width: 47%;
        margin: 1em;
        border-radius: 10px;
        padding: 2em;
        position: absolute;
        top: 0;
        height: 300px;
    }

    .crea {
        left: 0;
    }

    .vivi {
        right: 0;
    }

    .crea>.bg-img {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $bgc-blue-dark;
        // background-color: $bgc-relax;
        // background-image: url(./img/gift.jpeg);
        // background-position: center center;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
    }

    .vivi .bg-img {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $bgc-blue-dark;
        // background-image: url(./img/1fotogenerale.png);
        // background-position: center center;
        // background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
    }

    .content {
        position: absolute;
        bottom: 35px;
        right: 35px;

        p,
        h2,
        a {

            z-index: 3;
            margin: 1em 10%;
            margin-left: 0;
        }
    }

   

    svg {
        background: #fff;
        width: 200px;
        color: white;
        position: absolute;
        top: -50px;
        left: -50px;
        border-radius: 50%
    }

}
@media (max-width: 40em) {
    .buble {
        z-index: -15;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: right;
        background-color: $bgc-blue-dark;
        padding: 1em;
        height: auto;
    
        .vivi,
        .crea {
            overflow: hidden;
            width: 100%;
            margin: 1em auto;
            border-radius: 10px;
            position: relative;
       
            height: 300px;
        }
    
    
        .crea>.bg-img {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $bgc-relax;
            background-image: url(./img/gift.jpeg);
            background-position: center center;
            background-size: cover;
            filter: blur(3px);
            width: 100%;
            height: 100%;
        }
    
        .vivi .bg-img {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(./img/1fotogenerale.png);
            background-position: center center;
            background-size: cover;
            filter: blur(3px);
            width: 100%;
            height: 100%;
        }
    
        .content {
            position: absolute;
            bottom: 35px;
            right: 35px;
    
            p,
            h2,
            a {
                z-index: 3;
                margin: 1em 10%;
                margin-left: 0;
            }
        }
    
        svg {
            background: #fff;
            width: 200px;
            color: white;
            position: absolute;
            top: -50px;
            left: -50px;
            border-radius: 50%
        }
    
    }
}