.bgc-img-registrati {
    background-image: url(./img/group.jpeg);
    background-size: cover;
    transform: scale(1.3);
    height: 95vh;
    background-position: center center;
    filter: blur(8px);
}

.bgc-img-accedi {
    background-image: url(./img/uvaneraaccedi.png);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    filter: blur(8px);
}

.modal {
    width: 100%;
    max-width: 30em;
    margin: 7em auto;
    background-color: $bgc-blue;
    color: white;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 32%;
    *{
        padding: .8em 3em;
    }
    input {
        text-align: center;
    }
    button {
        margin: 2em;
    }
}
.registrati {
    width: 100%;
    max-width: 30em;
    margin: 7em auto;
    background-color: $bgc-blue;
    color: white;
    padding: 1em 3em; 
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: -2%;
    left: 32%;
    *{
        padding: .8em 0em;
        // text-align: center;
        
    }
    input {
        width: 200px;
        padding: .8em;

    margin-right: 3em;
        // text-align: center;
    }
   
    label {
        width: 400px;
    }
    button {
        margin: 2em;
    }
}
.modal {
    input{
        width: 240px;
    }
}