$bgc-viola: #960e3b;
$bgc-blue: #3a5664;

$bgc-relax: #88abae;
$bgc-cultura: #690e3b;
$bgc-ristorazione: #d49e55;
$bgc-arte: #667384;

/* reset css */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#root {
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    font-weight: lighter;
    // text-align: center;
    height: 100%;
}

h1,
h2 {
    text-transform: uppercase;
}

h6 {
    padding: .357em 1em;
    font-size: 1.6em;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.bgc-blue {
    background-color: $bgc-blue;
    color: white !important;
}

.tac {
    text-align: center;
}

.flex {
    display: flex;

    &.two-column {
        flex-direction: row;
    }
}

.w-100 {
    width: 100%;
}

.btn-dark {

    text-transform: uppercase;
    font-size: 1em;
    padding: 1em 1.5em;
    border: 1px solid transparent;
    color: white;
    background-color: $bgc-blue;
    margin: .5em;
}
.btn-light {
    text-transform: uppercase;
        font-size: 1em;
        padding: 1em 1.5em;
        border: 1px solid transparent;
        color: $bgc-blue;
        background-color: white;
}

.center-input {
    margin-top: 1em;
    font-size: 1em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2d2d2d;
    line-height: 2.5em;
    background-color: #fff;
    color: $bgc-blue;
    font-family: 'Comfortaa', cursive;

    &::placeholder {
        opacity: 0;
        color: $bgc-blue;
    }

    &:focus~label,
    &:not(:placeholder-shown)~label {
        top: -55px;
        left: auto;
        font-size: 0.5rem;
        transform: translateY(0);
    }

    &:focus::placeholder {
        opacity: 1;
        transition: opacity 300ms 2000ms;
    }

    &:focus {
        outline: 0;
        font-size: 1.1em;
    }
}

.center-label {
    position: relative;
    top: -30px;
    left: calc(0.5rem + 5px);
    transform: translateY(-50%);
    transition: all 0.3s ease;
    color: $bgc-blue;
}


.cover {
    height: 20em;
    overflow: hidden;

    &.x2-height {
        height: 80vh;

        img {
            width: 100%;
            max-height: auto;
            overflow: hidden;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}
.cover-bottiglie {
    background-image: url(./img/bottigliehomeechisiamo.png);
    background-size: cover;
    height: 60vh;
    background-position: center center;
}
.cover-bicchieri {
    background-image: url(./img/1fotogenerale.png);
    background-size: cover;
    height: 60vh;
    background-position: center center;
}


.immagini {
    max-width: 100%;
    height: auto;
}

/* index.html */
.container {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#hero-home {
    // background-image: url(./img/sfondo.jpg);
    // background-size: cover;
    // background-position: center center;
    background-color: $bgc-blue;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    text-align: center;

    h1 {
        padding: 1em 2em;
    }

    .logo-home {
        padding: .5em;
        margin: 9em;
        width: 50%;
        background-color: #fff;
        border-radius: 50%;
        margin-bottom: 0;
        padding-bottom: 0;
        max-width: 450px;
    }
}



.text-area {
    padding: 4em;
    color: #000;

    h1,
    h2,
    p {
        padding: .375em 2em;
        // color: #2d2d2d;
        line-height: 1.5em;
    }

    a {
        margin: 4em;
        color: black;

        &:hover {
            color: darken($color: $bgc-blue, $amount: 10)
        }
    }

    .bigger {
        font-size: 1.2em;
        font-weight: 500;
    }

    button {
        text-transform: uppercase;
        font-size: 1em;
        padding: 1em 1.5em;
        border: 1px solid transparent;
        color: white;
        background-color: $bgc-blue;
    }
}

.text-area-big {
    padding: 4em;
    color: #000;

    h1,
    p {
        padding: 1.375em 2em 2.5em;
        color: #2d2d2d;
        line-height: 1.5em;
    }

    h1,
    h2,
    h3 {
        color: $bgc-blue;
    }

    a {
        // margin: 4em;
        color: $bgc-blue;

        &:hover {
            color: darken($color: $bgc-blue, $amount: 10);
            animation: moving-arrow 1s ease infinite;
        }
    }
}

@keyframes moving-arrow {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

.info-bot {
    margin-top: 2em;
    margin-bottom: 2em;

    p {
        font-weight: 100;
    }

    strong,
    h6 {
        font-weight: 300;
    }

    div {
        width: 50%;
    }

    .bottiglia-centro {
        z-index: 50;
        width: 135px;
        overflow: visible;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;

        img {
            width: 400px;
        }

    }

    .text-area {
        padding: .5em
    }

    .info-wine {
        padding-left: 3em;
    }
}

@media (max-width: 48em) {
    .info-bot {
        div {
            width: 100%;
        }

        .bottiglia-centro {
            display: none;
        }
    }

    .info-wine {
        padding: 2em !important;
    }
}

section a {
    text-decoration: none;
}

#tre {
    background-image: url(./img/1fotogenerale.png);
    background-size: cover;
}

#bottiglie {
    background-image: url(./img/bottigliehomeechisiamo.png);
    background-size: cover;
}

#pattern {
    background-image: url(./img/pattern-sfondo.png);
    background-size: cover;
}

.bottone {
    background-color: #00ff00;
    border-radius: 10px;
    cursor: pointer;
}


.logo-home {
    // padding: .5em;
    // margin: 9em;
    width: 50%;
    height: auto;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo-small {
    width: 200px;
    height: auto;
}

.half {
    width: 50%;

    img {
        width: 60%;
        max-width: 300px;
    }
}

.half-hover {
    // width: 50%;
    // height: 100vh;
    text-align: left;
    position: relative;
    transition: all .2s ease-in-out;

    p,
    a {
        // visibility: hidden;
        position: absolute;
        top: 75%;
        text-align: center;
        line-height: 1.5;
        opacity: 0;
        animation: all 1s ease;
    }

    a {
        padding: 2em;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        // transform: scale(1.05);

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
        }

        h2 {
            color: white;
        }

        p,
        a {
            color: white;
            position: absolute;
            top: 45%;
            padding: 0 2em;
        }

        p {
            animation: upto45 .5s ease .1s 1 forwards;
        }

        a {
            top: 65%;
            animation: upto65 .5s ease .3s 1 forwards;
        }
    }

    &.viola {
        &:hover {
            &:before {
                background-color: rgba($bgc-viola, .5em);
            }
        }
    }

    &.verde {
        &:hover {
            &:before {
                background-color: rgba($bgc-blue, .5em);
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    h2 {
        padding: 2em;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }

    &.logo {
        background-color: $bgc-blue;
        padding: 1em;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

}

@keyframes upto45 {
    0% {
        // opacity: 0;
        top: 50%
    }

    100% {
        opacity: 1;
        top: 45%;
    }
}

@keyframes upto65 {
    0% {
        // opacity: 0;
        top: 70%
    }

    100% {
        opacity: 1;
        top: 65%;
    }
}

@media (max-width: 48em) {
    .flex.two-column {
        flex-direction: column;
        margin: 0;

        .half,
        .half-hover {
            width: 100%;
        }
    }
}

.bottiglie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2em 2em;

    img {

        height: 250px;
    }
}

@media (max-width: 48em) {
    .bottiglie {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;

        img {
            height: 200px;
        }
    }
}

// .banda {
//     background-color: #2E5767;
// }

#hero-chisiamo {
    background-image: url(./img/1chisiamo.png);
    background-size: cover;
    height: 80vh;
}

.info-chisiamo {

    .img-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 48em) {
    .img-center img {
        margin: 2em;
        width: 50%;
    }
}

.margine {
    padding: 40px 0;
}

.margine h5 {
    line-height: 30px;
}




.orizzontale {
    width: 100%;
    height: 25vh;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// solgan home
#slogan {
    background-image: url(./img/pattern-sfondo.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 50vh;

    .content {
        padding: 4em;
        width: 300px;
        margin: auto;
        font-size: 1.5em;
        line-height: 1.6em;
        text-align: left;
    }

    h3 {
        text-transform: uppercase;
        color: white;
    }
}

// punti vendita
#hero-puntivendita {
    background-image: url(./img/puntivendita.png);
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

.img-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-puntivendita {
    display: flex;
    flex-direction: column;

    img {
        width: 40%;
    }

    p,
    button,
    img {
        margin: 1em;
    }

    button {
        text-transform: uppercase;
        font-size: 1em;
        padding: 1em 1.5em;
        border: 1px solid transparent;
        color: $bgc-blue;
        background-color: white;
    }
}

.bottoniorrizzontali {
    display: flex;
    flex-direction: column;
    // align-content: stretch;
    align-items: center;

    a {
        width: 100%;
        height: 25%;

        padding: 4em;
        color: white;
        text-transform: uppercase;
        font-weight: 500;

        i {
            margin-left: 1em;
        }

        &:nth-child(1) {
            background-color: $bgc-cultura;
        }

        &:nth-child(2) {
            background-color: $bgc-relax;
        }

        &:nth-child(3) {
            background-color: $bgc-ristorazione;
        }

        &:nth-child(4) {
            background-color: $bgc-arte;
        }
        &:hover {
        
            opacity: .8;
        }
    }
    
}

table {
    margin: 1em auto;
    text-align: left;

    tr {
        td {
            padding: .2em;
        }
    }
}

#slogan.areapersonale .content {
    width: 600px;
    padding: 10em 2em;
    text-align: center;
}

#carrello {
    .container-carrello {
        margin: 1em 0;

        .carrello {
            padding: 1em;

            table {
                width: 100%;

                tr {
                    border: 1px solid lightgray;
                }
            }
        }

        .elem-carrello {
            .elem {
                width: 100%;
                display: flex;
                color: white;
                align-items: center;

                img {
                    width: auto;
                    height: 200px;
                }

                .text {
                    vertical-align: middle;
                    width: 100%;

                    p {
                        padding: .5em;
                    }
                }

                .icone {
                    width: 60px;

                    i {
                        padding: .5em;
                    }
                }

                &:nth-child(1) {
                    background-color: $bgc-cultura;
                }

                &:nth-child(2) {
                    background-color: $bgc-relax;
                }

                &:nth-child(3) {
                    background-color: $bgc-ristorazione;
                }

                &:nth-child(4) {
                    background-color: $bgc-arte;
                }
            }
        }
    }

}

#hero-esperienze {
    background-image: url(./img/1esperienze.png);
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

.quarto {
    color: white;
    width: 25%;
    padding: 1em;
    text-align: center;
    h2, img, p {
        margin: 2em auto;
    }
    h2 {
        min-height: 50px;
    }
    p {
        min-height: 200px;
        font-weight: 100;
    }
    &:nth-child(1) {
        background-color: $bgc-cultura;
    }

    &:nth-child(2) {
        background-color: $bgc-relax;
    }

    &:nth-child(3) {
        background-color: $bgc-ristorazione;
    }

    &:nth-child(4) {
        background-color: $bgc-arte;
    }
}

/* footer */
#footer {
    height: 50vh;
    // background-image: url(./img/sfondo.jpg);
    // background-position: center center;
    // background-size: cover;
    background-color: $bgc-blue;
    display: flex;
    align-items: center;
    padding: 1.357em 10%;

    .logo {
        display: flex;
        flex-direction: column;
        color: white;

        h1 {
            padding: .5em;
        }
    }
    .left {
        text-align: left;
        text-transform: uppercase;
    }
}

#footer > div {
    flex-grow: 1;
    align-items: center;
    text-align: right;
    width: 30%;
    ul li {
        list-style: none;
    }

}

#footer 
.social {
    display: flex;
    justify-content: flex-start;

    li {
        margin: 1em .5em;
        //     width: 25px;
        // height: 25px;
        // background-color: #fff;
        // border-radius: 50%;
        &:nth-child(1){
            margin-left: 0;
        }
    }

}

#footer li,
#footer p,
#footer a {
    height: auto;
    line-height: 2em;
    color: #fff;
}
.contatti {
    label {color: white;}
    input {
    //   text-align: right;
        font-size: 1em;
        padding: 5px;
    }
}

@media (max-width: 48em) {
    #footer {
        // background-color: red;
        flex-direction: column;
        height: auto;

        * {
            text-align: center;
            justify-content: center;
        }

        div {
            margin: 2em auto;
        }
    }
}