
.logo,
li {
    display: flex;
    justify-content: center;
    height: 100px;

    a {
        margin: 0;
    }

    img {
        height: auto;
        width: 100px;
    }
}
nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    // background-color: rgba(255, 255, 255, .5);


    .menu-container {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        list-style: none;

        background-color: $bgc-blue;


        .menu-item {
            margin: auto;
            text-decoration: none;
            color: #fff;
            padding: 1.375em .4em;
            font-size: 1em;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 48em) {
    
}