$bgc-viola: #960e3b;
$bgc-blue: #2b5667;
$bgc-blue-dark: #2f4653;

$bgc-relax: #88abae;
$bgc-cultura: #690e3b;
$bgc-ristorazione: #d49e55;
$bgc-arte: #667384;

.nav-bar {
   z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $bgc-blue;
    justify-content: space-between;

    .logo a {
        display: flex;
        flex-direction: row;
        // height: 5em;
        align-items: center;
        margin: .5em 2em;

        &:hover {
            text-decoration: none;
        }

        img {
            width: 50px;
            height: auto;
            margin-right: .5em;
        }

        h1 {
            margin: 0;
            padding: 0;
        }
    }
}

.hamburger {
    margin: 1em;

    .line {
        width: 30px;
        height: 2px;
        background-color: #ecf0f1;
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        cursor: pointer;

        .line:nth-child(2) {
            width: 22px;
        }

        .line:nth-child(3),
        .line:nth-child(1) {
            width: 28px;
        }
    }
}

.hamburger.is-active {
    transform: rotate(45deg);

    .line {
        width: 30px;

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(1) {
            transform: translateY(13px);
        }

        &:nth-child(3) {
            transform: translateY(-7px) rotate(90deg);
        }
    }
}

#main-nav {
    // display: fixed;
    position: fixed;
    // height: auto;
    width: 100%;
    z-index: 100;
}

.menu-expanded {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    transition: all 0.1s ease-in-out;

    &.is-active {
        z-index: 95;
        transition: all 0.3s ease-in-out;
        // display: flex;
        // flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: $bgc-blue-dark;
        padding: 84px 10% 34px;

        li {
            margin: 0;
            margin-bottom: 34px;
            padding: 0;
            opacity: 1;
            list-style: none;
            opacity: 0;
            animation: fadeInUp 1s ease-in-out forwards;
            border: 1px solid transparent;

            @for $i from 1 through 8 {
                &:nth-child(#{$i}) {
                    animation: fadeInUp .5s ease-in-out #{$i * .1}s forwards;
                    //   transition: all .2s #{$i * .1}s ease-in;
                }
            }

            a {
                font-size: 25px;
                display: inline-block;
                position: relative;
                padding: 4px 60px 0;
                overflow: hidden;
                text-decoration: none;
                color: white;
                white-space: nowrap;
            }
        }

        .menu-container {
            margin-top: 2em;
            max-width: 40%;
            display: flex;
            flex-direction: column;

            &:nth-child(1) {
                li a {
                    transition: all 0.1s ease-in-out;

                    &:before {
                        content: "";
                        width: 0%;
                        height: 10px;

                        background-color: #fff;
                        opacity: .2;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        transition: all .3s ease-in-out;
                    }

                    &:hover {

                        &:before {
                            content: "";
                            width: 80%;
                            height: 10px;

                            background-color: #fff;
                            opacity: .2;
                            position: absolute;
                            top: 20px;
                            left: 40px;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }

            &:nth-child(2) {
                text-align: right;

                li {
                    margin-bottom: 10px;

                    a {
                        height: 30px;
                        font-weight: 100;
                        font-size: 15px;
                        padding: 10px 20px 0;
                        transition: all 0.1s ease-in-out;

                        &:before {
                            content: "";
                            width: 0%;
                            height: 10px;

                            background-color: #fff;
                            opacity: .2;
                            position: absolute;
                            top: 20px;
                            right: 0px;
                            transition: all .3s ease-in-out;
                        }

                        &:hover {

                            &:before {
                                content: "";
                                width: 90%;
                                height: 10px;

                                background-color: #fff;
                                opacity: .2;
                                position: absolute;
                                top: 20px;
                                right: 10px;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }

    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

#sliders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
}

/* footer */
#footer {
    color: white;
    //     height: 50vh;
    background-image: url(./img/pattern-sfondo.png);
    background-position: center center;
    background-size: cover;

    font-size: .8em;
    line-height: 2em;

    .menu-flex {
        display: flex;
        padding: 3em 10% 1.357em;
        align-items: center;

        &>div {
            flex-grow: 1;
            align-items: center;
            text-align: left;
            width: 30%;

            ul li {
                list-style: none;
            }
        }

        .menu {
            text-align: left;
        }

        .contatti {
            text-align: right;
        }

        .form {
            width: 200px;
        }
    }

.link-light {
    transition: all 0.1s ease-in-out;
    position: relative;
    &:before {
        content: "";
        width: 110%;
        height: 4px;

        background-color: #fff;
        opacity: .1;
        position: absolute;
        top: 10px;
        left: -5px;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        text-decoration: none;
        &:before {
            content: "";
            width: 115%;
            height: 6px;

            background-color: #fff;
            opacity: .2;
            position: absolute;
            top: 6px;
            left: -2px;
            transition: all 0.3s ease-in-out;
        }
    }
}
}

#footer .social {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    // width: 50%;

    li {
        margin: 1.5em .2em;

        //     width: 25px;
        // height: 25px;
        // background-color: #fff;
        // border-radius: 50%;
        &:nth-child(1) {
            margin-left: 0;
        }
    }

}

.bt {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: .5em 0;
    opacity: .6;
}