

.hero-vivi,
.custom {
    display: flex;
    padding: 6em 1em 0;
    color: $bgc-blue-dark;

    .half-30 {
        width: 30%;

    }

    .half-70 {
        width: 70%;
        background-color: $bgc-blue;
        margin-bottom: 1em;
        padding: 1em;
    }
}

span.big-title {
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 1.8em;
}

.slogan {
    color: $bgc-ristorazione;
    transform: translate(80px, -20px);
    padding: 4em 2em 0;
    line-height: 2em;
    font-size: 1.5em;
    width: 500px;

    &:before {
        content: '';
        position: absolute;
        width: 200px;
        border: 1px solid $bgc-cultura;
        bottom: 0;
        left: 100px;
    }

}

.custom {
    // background-color: $bgc-relax;
}

.not-active {
    display: none;
}

.active {
    display: block
}



// .vivi-page {
//     background-color: $bgc-blue;
//     // background-image: url(./img/1fotogenerale.png);
//     // background-size: cover;
//     // height: 50vh;
//     // min-height: 400px;
//     // background-position: center center;

//     .testo-vivi {
//         padding: 9em 4em;
//         position: relative;
//         color: white;

//     }
// }

.buble-quattro {
    display: flex;
    padding: 4em 1em;

    .card {
        // transform: translateY(-20%);
        flex-grow: 1;
        border-radius: 5px;
        margin: 1em;
        padding: 1em;
        background-color: #fff;
        border: 1px solid black;

        h2 {
            color: white;
            padding: 2em 1em;
            text-align: center;
        }
    }
}

input[type=checkbox] {
    visibility: hidden;
}

input[type=checkbox]:checked~div,
.selected {
    // border: 1px solid black;
    // background-color: red;
    transform: scale(1.1);
}

label {
    font-size: 800;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 .8em;
}

.libro,
.musica,
.poesia {
    background-color: $bgc-relax;
    border: 5px solid white;
    margin: 1em;
    margin-bottom: 10em;
    padding: 3em 2em;
    color: white;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);
    transition: all.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        transition: all.2s ease-in-out;
    }
}

div[id*='info-select'] {
    display: none;
    *{
        box-sizing: border-box ;
    }

    &.active {
       
        width: 80%;
        display: flex;
        background-color: #fff;
        position: absolute;
        // padding: 3em 2em;
        margin: 4em 10%;
        top: 5em;
        left: 0;
        z-index: 4;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);
        .img {
            width: 40%;
            height: 100%;
            overflow: hidden;
            img {
                height: 100%;
                transform: scale(1.1)
            }
        }
        .text {
            width: 60%;
            height: 100%;
            padding: 3em 1.5em 1.5em;
            span {
                font-weight: 800;
            }
        }
        i {
            position: absolute;
            top: 1em;
            right: 1em;
            margin: 1em;
        }
    
    }
}

// .extra {
//     transition: all 1s ease-in-out;
//     background-color: #fff;

//     i {
//         margin: .5em 47%;
//         color: color;
//     }

//     &:hover {
//         p {
//             visibility: visible;
//             height: 200px;
//             transition: all .5s ease-in-out;
//         }
//         h2 {
//             transform: translateY(-10%);
//         }
//     }

//     p {
//         transition: all .5s ease-in-out;
//         height: 0;
//         visibility: hidden;
//         margin: 1em;
//         color: black;
//     }
// }

// section.vivi {
//     display: flex;
//     .card {

//     }
// }

// .modal {
//     display: none;
// }