.hero-vivi,
.custom {
    display: flex;
    padding: 6em 1em 0;
    color: $bgc-blue-dark;

    .half-30 {
        width: 30%;

    }

    .half-70 {
        width: 70%;
        background-color: $bgc-blue;
        margin-bottom: 1em;
        padding: 1em;
    }
}

span.big-title {
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 1.8em;
}

.slogan {
    color: $bgc-ristorazione;
    transform: translate(80px, -20px);
    padding: 4em 2em 0;
    line-height: 2em;
    font-size: 1.5em;
    width: 500px;

    &:before {
        content: '';
        position: absolute;
        width: 200px;
        border: 1px solid $bgc-cultura;
        bottom: 0;
        left: 100px;
    }

}

.custom {
    // background-color: $bgc-relax;
}

.not-active {
    display: none;
}

.active {
    display: block
}


@media (max-width:48em) {

    .hero-vivi,
    .custom {
        // background-color: red;
        display: flex;
        // padding: 6em 1em 0;
        color: $bgc-blue-dark;
        flex-direction: column;


        .half-30 {
            width: 100%;

        }

        .half-70 {
            width: 100%;
            background-color: $bgc-blue;
            margin-bottom: 1em;
            padding: 1em;
        }
    }

    .slogan {
        color: $bgc-ristorazione;
        // transform: translate(80px, -20px);
        padding: 1em .5em 0;
        line-height: 1.5em;
        font-size: 1em;
        width: 500px;

        &:before {
            content: '';
            position: absolute;
            width: 200px;
            border: 1px solid $bgc-cultura;
            bottom: -15px;
            left: 100px;
        }

    }

    .not-active {
        display: none;
    }
}

.buble-quattro {
    display: flex;
    padding: 4em 1em;

    .card {
        // transform: translateY(-20%);
        flex-grow: 1;
        border-radius: 5px;
        margin: 1em;
        padding: 1em;
        background-color: #fff;
        border: 1px solid black;

        h2 {
            color: white;
            padding: 2em 1em;
            text-align: center;
        }
    }
}

.libro,
.musica,
.poesia {
    background-color: $bgc-relax;
    border: 5px solid white;
    margin: 1em;
    margin-bottom: 10em;
    padding: 3em 2em;
    color: white;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);
    transition: all.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        transition: all.2s ease-in-out;
    }
}


@media (max-width: 48em) {
    .buble-quattro {
        flex-direction: column;
        padding: .5em;

        .card {
            margin: 1em;
        }

    }

    .libro,
    .musica,
    .poesia {
        margin: 1em;
    }
}

div[id*='info-select'] {
    display: none;

    &.active {

        width: 80%;
        display: flex;
        background-color: #fff;
        position: absolute;
        // padding: 3em 2em;
        margin: 4em 10%;
        top: 5em;
        left: 0;
        z-index: 4;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);

        .img {
            width: 40%;
            height: 100%;
            overflow: hidden;

            img {
                height: 100%;
                transform: scale(1.1)
            }
        }

        .text {
            width: 60%;
            height: 100%;
            padding: 3em 1.5em 1.5em;

            span {
                font-weight: 800;
            }
        }

        i {
            position: absolute;
            top: 1em;
            right: 1em;
            margin: 1em;
        }

    }
}

@media (max-width:48em) {
   
div[id*='info-select'] {
  

  

    &.active {

        width: 90%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        // padding: 3em 2em;
        margin: 2em 5%;
        top: 5em;
        left: 0;
        z-index: 4;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);

        .img {
            width: 100%;
            height: 25vh;
            overflow: hidden;

            img {
                height: 130%;
                transform: scale(1.1)
            }
        }

        .text {
            width: 100%;
            // height: 100%;
            padding: 1.5em 1em;

            span {
                font-weight: 800;
            }
        }

        i {
            color: white;
            position: absolute;
            top: 1em;
            right: 1em;
            margin: 1em;
        }

    }
} 
}