.primopasso {
    .hero-vivi {
        background-image: url(./img/vivi.jpg);
        background-size: cover;
        height: 50vh;
        background-position: center center;
    }

    h1 {
        padding-top: 3em;
        padding-bottom: 1em;
        font-size: 3em;
        z-index: 100;
        color: white;

        span {
            font-size: 1.5em;
        }
    }

    #inserisciCodice {
        transform: translateY(-40px);
        display: flex;
        margin: 1em 0;
        background-color: $bgc-blue;

        .half-30 {
            width: 40%;
            color: white;
            padding: 2em 3em;
            text-align: left;
            line-height: 2em;

            p span {
                font-weight: 500;
                ;
            }
        }

        .half-70 {
            width: 60%;
            margin-bottom: 1em;
            padding: 1em;

            svg,
            img {
                width: 30%;
                margin: 1em auto;
                background-color: #fff;
                border-radius: 50%
            }
        }
    }
}
@media(max-width: 48em) {
    .primopasso {
        .hero-vivi {
            height: 50vh;
        }
    
        h1 {
            padding-top: 3em;
            padding-bottom: 1em;
            font-size: 3em;
            z-index: 100;
            color: white;
    
            span {
                font-size: 1.5em;
            }
        }
    
        #inserisciCodice {
            display: flex;
           flex-direction: column;
    
            .half-30 {
                width: 100%;
                text-align: center;
                padding: 1em 1.5em;
            }
    
            .half-70 {
                width: 100%;
            }
        }
    }
}

.custom,
.custommessage {
    transform: translateY(-50px);

    h1 {
        text-align: center;
        padding: .5em;
        font-size: 3em;
        z-index: 100;
        color: black;

        span {
            font-size: 1.5em;
        }
    }

}

.custommessage {
    padding: 1em;
    .message {
        text-align: left;
        width: 100%;
        padding: 1em 3em;
        border: 1px solid $bgc-relax;
        background-color: #fff;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);

        span.font-messaggio {
            font-size: 1.5em;
            font-family: 'Dancing Script', cursive;
        }
    }
}

form {
    height: 50px;
    // margin: 4em 0 ;
}

label {
    color: white;
    margin: auto .5em;
}

// input[type=text] 
.input
{
    width: 50%;
    padding: .2em;
    font-size: 1em;
    background-color: transparent;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1em;

    &.ok {
        box-shadow: 2px 2px 20px rgb(44, 114, 53);
    }
}


@media (max-width:48em) {

    .hero-vivi,
    .custom {
        display: flex;
        color: $bgc-blue-dark;
        flex-direction: column;

        .half-30 {
            width: 100%;
        }

        .half-70 {
            width: 100%;
            background-color: $bgc-blue;
            margin-bottom: 1em;
            padding: 1em;
        }
    }

    .slogan {
        color: $bgc-ristorazione;
        // transform: translate(80px, -20px);
        padding: 1em .5em 0;
        line-height: 1.5em;
        font-size: 1em;
        width: 500px;

        &:before {
            content: '';
            position: absolute;
            width: 200px;
            border: 1px solid $bgc-cultura;
            bottom: -15px;
            left: 100px;
        }

    }

    .not-active {
        display: none;
    }
}

.buble-quattro {
    text-align: center;
    display: flex;
    padding: 1em .5em;
    img {
        width: 50%;
        border-radius: 50%;
        margin-bottom: 1em;
    }
}

.libro,
.musica,
.poesia {
    background-color: $bgc-relax;
    border: 5px solid white;
    margin: 1em;
    margin-bottom: 10em;
    padding: 5vw 4vw;
    color: white;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);
    transition: all.2s ease-in-out;

    h3 {
        padding-bottom: 1em;
    }

    &:hover {
        transform: scale(1.1);
        transition: all.2s ease-in-out;
    }
}


@media (max-width: 48em) {
    .buble-quattro {
        flex-direction: column;
        padding: .5em;
        img {
            width: 20%;
        }
        .card {
            margin: 1em;
        }
    }

    .libro,
    .musica,
    .poesia {
        margin: 1em;
    }
}

div[id*='info-select'] {
    display: none;

    &.active {
        width: 80%;
        display: flex;
        background-color: #fff;
        position: absolute;
        margin: 4em 10%;
        top: 5em;
        left: 0;
        z-index: 4;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);

        .img {
            width: 50%;
            height: 100%;
            overflow: hidden;

            img {
                width: auto;
                height: 100%;
                transform: scale(1.1)
            }
        }

        .text {
            width: 60%;
            height: 100%;
            padding: 3em 1.5em 1.5em;

            span {
                font-weight: 800;
            }
        }

        i {
            position: absolute;
            top: 1em;
            right: 1em;
            margin: 1em;
        }

        a {
            color: black;
        }
    }
}

@media (max-width:48em) {

    div[id*='info-select'] {
        &.active {
            transition: all .2s ease-in-out;
            width: 90%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            position: absolute;
            // padding: 3em 2em;
            margin: 2em 5%;
            top: 7em;
            left: 0;
            z-index: 4;
            box-shadow: 0px 7px 20px rgba(0, 0, 0, .2);

            .img {
                width: 100%;
                height: 40vh;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    transform: scale(1.1)
                }
            }

            .text {
                width: 100%;
                padding: 1.5em 1em;

                span {
                    font-weight: 800;
                }
            }

            i {
                color: white;
                position: absolute;
                top: 1em;
                right: 1em;
                margin: 1em;
            }

        }
    }
}

.hero-crea {
    color: white;
    background-image: url(./img/puntivendita.png);
    background-size: cover;
    height: 60vh;
    background-position: center center;
}

p.come-funziona {
    text-align: center;
    padding: 3em 6em;
    background-color: rgba($bgc-ristorazione, 0.5);
    color: white;
    font-size: 1em;
    margin: 1em auto;
    max-width: 52em;

    span {
        font-weight: 800;
    }
}