/* reset css */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#root {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
}

    .center-input {
        margin-top: 1em;
        font-size: 1em;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #2d2d2d;
        line-height: 2.5em;
        background-color: #fff;
        color: $bgc-verde;
        font-family: 'Comfortaa', cursive;

        &::placeholder {
            opacity: 0;
            color: $bgc-verde;
        }

        &:focus~label,
        &:not(:placeholder-shown)~label {
            top: -55px;
            left: auto;
            font-size: 0.5rem;
            transform: translateY(0);
        }

        &:focus::placeholder {
            opacity: 1;
            transition: opacity 300ms 2000ms;
        }

        &:focus {
            outline: 0;
            font-size: 1.1em;
        }
    }

    .center-label {
        position: relative;
        top: -30px;
        left: calc(0.5rem + 5px);
        transform: translateY(-50%);
        transition: all 0.3s ease;
        color: $bgc-verde;
    }


.cover {
    height: 20em;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

/* menu navigazione */
.logo {
    display: flex;
    justify-content: center;
    height: 100px;

    a {
        margin: 0;
    }

    img {
        height: auto;
        width: 100px;
    }
}

nav {
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    // background-color: rgba(255, 255, 255, .5);


    .menu-container {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        list-style: none;


        .menu-item {
            text-decoration: none;
            color: #fff;
            padding: 1.375em .4em;
            font-size: .8em;
        }
    }
}

.immagini {
    max-width: 100%;
    height: auto;
}

/* index.html */
.container {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#uno {
    background-image: url(./img/sfondo.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

#uno h1 {
    padding: 8em 2em;
}

.text-area {
    padding: 4em;
    color: #000;

    h1,
    p {
        padding: .375em 2em;
        color: #2d2d2d;
        line-height: 1.5em;
    }
    a {
        margin: 4em;
        color: black;
        &:hover {
            color: darken($color: $bgc-verde, $amount: 10)
        }
    }
}
.text-area-big {
    padding: 4em;
    color: #000;

    h1,
    p {
        padding: 1.375em 2em 2.5em;
        color: #2d2d2d;
        line-height: 1.5em;
    }
    h1, h2, h3 {
        color: $bgc-verde;
    }
    a {
        // margin: 4em;
        color: $bgc-verde;
        &:hover {
            color: darken($color: $bgc-verde, $amount: 10);
            animation: moving-arrow  1s ease infinite ;
        }
    }
}
@keyframes moving-arrow {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

section a {
    text-decoration: none;
}

#tre {
    background-image: url(./img/1fotogenerale.png);
    background-size: cover;
}

#bottiglie {
    background-image: url(./img/bottigliehomeechisiamo.png);
    background-size: cover;
}

#pattern {
    background-image: url(./img/pattern-sfondo.png);
    background-size: cover;
}

.bottone {
    background-color: #00ff00;
    border-radius: 10px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.half {
    width: 50%;
    // height: 100vh;
    text-align: left;
    position: relative;
    transition: all .2s ease-in-out;

    p,
    a {
        // visibility: hidden;
        position: absolute;
        top: 75%;
        text-align: center;
        line-height: 1.5;
        opacity: 0;
        animation: all 1s ease;
    }

    a {
        padding: 2em;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        // transform: scale(1.05);

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
        }

        h2 {
            color: white;
        }

        p,
        a {
            position: absolute;
            top: 45%;
            padding: 0 2em;
        }

        p {
            animation: upto45 .5s ease .1s 1 forwards;
        }

        a {
            top: 65%;
            animation: upto65 .5s ease .3s 1 forwards;
        }
    }

    &.viola {
        &:hover {
            &:before {
                background-color: rgba($bgc-viola, .5em);
            }
        }
    }

    &.verde {
        &:hover {
            &:before {
                background-color: rgba($bgc-verde, .5em);
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    h2 {
        padding: 2em;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }

}

@keyframes upto45 {
    0% {
        // opacity: 0;
        top: 50%
    }

    100% {
        opacity: 1;
        top: 45%;
    }
}

@keyframes upto65 {
    0% {
        // opacity: 0;
        top: 70%
    }

    100% {
        opacity: 1;
        top: 65%;
    }
}

#blu {
    background-color: #0000ff;
}

#rosso {
    background-color: #ff0000;
}

#sei {
    background-image: url(./img/jessy-smith-496883-unsplash.jpg);
    background-size: cover;
}

/* chi siamo html */
.banda {
    background-color: #2E5767;
}

#sfondo {
    background-image: url(./img/jessy-smith-496883-unsplash.jpg);
    background-size: cover;
    height: 80vh;
}

.nero {
    color: #000;
}

.margine {
    padding: 40px 0;
}

.margine h5 {
    line-height: 30px;
}

// /* fine chi siamo */
/* esperienze */
.quarto {
    width: 25%;
    height: 100vh;
}

// /* fine esperienze */
/* punti vendita */
.orizzontale {
    width: 100%;
    height: 25vh;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* fine punti vendita */
/* footer */
#footer {
    height: 50vh;
    background: #2E5767;
    display: flex;
}

#footer div {
    width: 50%;
    text-align: left;
}

#footer ul li {
    list-style: none;
}

#footer li,
#footer p,
#footer a {
    margin: 10px auto;
    color: #fff;
}