$bgc-viola: #960e3b;
$bgc-blue: #2b5667;
$bgc-blue-dark: #2f4653;

$bgc-relax: #88abae;
$bgc-cultura: #690e3b;
$bgc-ristorazione: #d49e55;
$bgc-arte: #667384;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
}

p, li {
    font-family: 'Raleway', sans-serif;
}

// bottoni, titoli, spazi
@import './styles/general';

// tutte le pagine
@import './styles/home-chisiamo';
@import './styles/puntivendita';
@import './styles/forms';
@import './styles/buble';
@import './styles/vivi';
@import './styles/team';
@import './styles/areapersonale';

@import './styles/navigation';
